<div class="about_bg_wrapper">
    <div class="about_wrapper">
        <h1> What is Sangria NYC? </h1>
        <div class="about_paragraphs">
            <p>
                We are a community of sangria loving, rooftop bar hopping, 
                passionate and friendly New Yorkers. We put together this
                website to share our love of and recipes of our favorite sangria.
            </p>
        </div>
    </div>
</div>