<div class="sangria_title"> Sangria NYC </div>
<div class="full_wrapper">
  <ul class="featured_recipes">
    
      <li class="featured_recipe_left">
        <a href="#">
        <%= image_tag "red_sangria.jpg", size: "200x200", alt: "Edit Entry" %></a>Red</li>
      
      <li class="featured_recipe_middle">
        <a href="#">
        <%= image_tag "white_sangria.jpg", size: "200x200", alt: "Edit Entry" %></a>White</li>
      
      <li class="featured_recipe_right">
        <a href="#">
        <%= image_tag "blue_sangria.jpg", size: "200x200", alt: "Edit Entry" %></a>Blue</li>
        
  </ul>
  
  <hr>
  <div class="sangria_gallery">Sangria Gallery</div>
  <hr>
  
  <div class="body_wrapper">
    <ul class="body_sections">
      <div class="body_left_column">Interesting Sangria Facts</div>
      <div class="body_top_left">Happy Hour Specials</div>
      <div class="body_top_right">Suprise Me</div>
      <div class="body_bottom_row">Top Sangria Bars</div>
    </ul>
  </div>
</div>