<p>
  <strong>Comment by:</strong>
  <%= User.find_by(comment.user_id).user_name %>
</p>
<small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small>
<p>
  <%= editable comment, :body %>
  <%#= comment.body %>
</p>
<p>
  <%= link_to 'Delete', [comment.recipe, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
