<% if user_signed_in? %>
  <h2>Add a comment:</h2>

  <%= bootstrap_form_for([@recipe, @recipe.comments.build]) do |f| %>
      <%= f.hidden_field :user_id, :value => current_user.id if !current_user.blank? %>
      <%= f.text_field :body, hide_label: true, placeholder: "Add a comment" %>
      <%= f.submit %>
  <% end %>
<% end %>
