/* line 3, /home/ubuntu/workspace/app/assets/stylesheets/devise_forms.scss */
.login_wrapper, .signup_wrapper {
  border-style: solid;
  border-width: 1px;
  background: url(about_sangria.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 500px;
  padding: 0;
  margin: 0;
}

/* line 17, /home/ubuntu/workspace/app/assets/stylesheets/devise_forms.scss */
.login_form, .signup_form {
  border-style: solid;
  border-width: 1px;
  float: right;
  margin: 100px 20px 0 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

/* line 25, /home/ubuntu/workspace/app/assets/stylesheets/devise_forms.scss */
.login_title, .signup_title {
  border-style: solid;
  border-width: 1px;
}

/* line 29, /home/ubuntu/workspace/app/assets/stylesheets/devise_forms.scss */
.login_fields, .signup_fields {
  border-style: solid;
  border-width: 1px;
}

/* line 34, /home/ubuntu/workspace/app/assets/stylesheets/devise_forms.scss */
.login_form {
  margin: 100px 90px 0 0;
}
/* line 1, /home/ubuntu/workspace/app/assets/stylesheets/navbar.scss */
#header {
  overflow: auto;
}
/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/navbar.scss */
#header ul.left {
  float: left;
}
/* line 8, /home/ubuntu/workspace/app/assets/stylesheets/navbar.scss */
#header ul.right {
  float: right;
}
/* line 12, /home/ubuntu/workspace/app/assets/stylesheets/navbar.scss */
#header li {
  padding-right: 20px;
  display: inline;
}
/* line 15, /home/ubuntu/workspace/app/assets/stylesheets/navbar.scss */
#header li a {
  text-decoration: none;
}
/* line 1, /home/ubuntu/workspace/app/assets/stylesheets/recipe_form.scss */
.recipe_wrapper {
  float: left;
  margin: 3% 10% 3% 10%;
  width: 65%;
  height: 600px;
  border: 2px solid black;
  padding: 25px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 12, /home/ubuntu/workspace/app/assets/stylesheets/recipe_form.scss */
.recipe_wrapper input, .recipe_wrapper textarea {
  padding: 7px;
  margin: 3px;
  border-radius: 5px;
}
/* line 18, /home/ubuntu/workspace/app/assets/stylesheets/recipe_form.scss */
.recipe_wrapper input[type=text], .recipe_wrapper textarea {
  font-size: 16px;
  width: 90%;
}
/* line 22, /home/ubuntu/workspace/app/assets/stylesheets/recipe_form.scss */
.recipe_wrapper input[type=submit] {
  background-color: rgba(225, 225, 225, 0.8);
}

/* line 26, /home/ubuntu/workspace/app/assets/stylesheets/recipe_form.scss */
label {
  float: left;
  min-width: 100px;
}

/* line 30, /home/ubuntu/workspace/app/assets/stylesheets/recipe_form.scss */
.recipe_bg {
  background: url(about_sangria.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 700px;
}
/* line 1, /home/ubuntu/workspace/app/assets/stylesheets/recipe_show.scss */
.wrapper {
  margin-top: 150px !important;
  margin: 0 5%;
}

/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/recipe_show.scss */
.article_container {
  width: 66%;
  display: inline-block;
}

/* line 9, /home/ubuntu/workspace/app/assets/stylesheets/recipe_show.scss */
.article_title {
  font-size: 3.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  text-align: center;
}

/* line 15, /home/ubuntu/workspace/app/assets/stylesheets/recipe_show.scss */
.article_author_date {
  background-color: #fff;
  box-shadow: 2px 2px 1px #ddd;
  border-radius: 10px;
  margin: 30px 25% 0 25%;
  /*margin-right: 25%;*/
  padding: 5px 0 5px 15px;
  width: 400px;
  height: auto;
  min-width: 300px;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 30, /home/ubuntu/workspace/app/assets/stylesheets/recipe_show.scss */
.article_author_date a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 40, /home/ubuntu/workspace/app/assets/stylesheets/recipe_show.scss */
a:hover .article_author_name {
  color: #111;
}

/* line 44, /home/ubuntu/workspace/app/assets/stylesheets/recipe_show.scss */
a .article_author_name {
  padding-left: 5px;
  color: #2793C7;
}

/* line 50, /home/ubuntu/workspace/app/assets/stylesheets/recipe_show.scss */
.article_publish_date {
  color: #999;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 55, /home/ubuntu/workspace/app/assets/stylesheets/recipe_show.scss */
.article_body {
  background-color: #fff;
  box-shadow: 2px 2px 1px #ddd;
  border-radius: 10px;
  padding: 5%;
  margin-top: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  overflow: auto;
}

/* line 65, /home/ubuntu/workspace/app/assets/stylesheets/recipe_show.scss */
.article_body img {
  float: right;
  margin: 0 0 10px 15px;
}

/* line 69, /home/ubuntu/workspace/app/assets/stylesheets/recipe_show.scss */
.article_subtitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
  font-weight: 600;
}

/* line 76, /home/ubuntu/workspace/app/assets/stylesheets/recipe_show.scss */
.side_bar {
  width: 28%;
  margin-left: 3%;
  display: inline-block;
  vertical-align: top;
}

/* line 83, /home/ubuntu/workspace/app/assets/stylesheets/recipe_show.scss */
.job_board, .advertisement {
  background-color: #fff;
  box-shadow: 2px 2px 1px #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-top: 30px;
}

/* line 92, /home/ubuntu/workspace/app/assets/stylesheets/recipe_show.scss */
.job_listing a {
  text-decoration: none;
  color: #111;
}

/* line 97, /home/ubuntu/workspace/app/assets/stylesheets/recipe_show.scss */
.job_listing a:hover {
  text-decoration: underline;
  /*text-decoration-color: blue;*/
}

/* line 102, /home/ubuntu/workspace/app/assets/stylesheets/recipe_show.scss */
.btn {
  padding: 8px;
  background-color: #eee;
  display: inline-block;
  border: solid 1px #666;
  border-radius: 2px;
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 111, /home/ubuntu/workspace/app/assets/stylesheets/recipe_show.scss */
.btn:hover {
  background-color: #bbb;
}

/* line 115, /home/ubuntu/workspace/app/assets/stylesheets/recipe_show.scss */
.advertisement img {
  width: 100%;
  height: auto;
}

/* line 120, /home/ubuntu/workspace/app/assets/stylesheets/recipe_show.scss */
.advertisement .blurb {
  color: #333;
}

/* line 124, /home/ubuntu/workspace/app/assets/stylesheets/recipe_show.scss */
#coupon_code {
  color: orange;
}

/* line 128, /home/ubuntu/workspace/app/assets/stylesheets/recipe_show.scss */
.advertisement.btn {
  background-color: #111;
  color: #fff;
  width: 90%;
  text-transform: uppercase;
  margin-top: 0px;
}
/* line 7, /home/ubuntu/workspace/app/assets/stylesheets/recipes.scss */
.sangria_title {
  font-size: 20px;
  text-align: center;
  font-family: cursive;
}

/* line 12, /home/ubuntu/workspace/app/assets/stylesheets/recipes.scss */
.full_wrapper {
  width: 90%;
  padding: 0px;
  margin: 0px;
  position: relative;
  background-color: white;
}

/* line 19, /home/ubuntu/workspace/app/assets/stylesheets/recipes.scss */
.featured_recipes {
  display: inline-block;
  width: 100%;
  height: 250px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  padding: 0px;
  margin: 0px;
}
/* line 31, /home/ubuntu/workspace/app/assets/stylesheets/recipes.scss */
.featured_recipes .featured_recipe_left {
  border-style: solid;
  border-width: 1px;
  width: 30%;
  height: 100%;
  float: left;
  list-style-type: none;
}
/* line 40, /home/ubuntu/workspace/app/assets/stylesheets/recipes.scss */
.featured_recipes .featured_recipe_middle {
  border-style: solid;
  border-width: 1px;
  width: 30%;
  height: 100%;
  display: inline-block;
}
/* line 48, /home/ubuntu/workspace/app/assets/stylesheets/recipes.scss */
.featured_recipes .featured_recipe_right {
  border-style: solid;
  border-width: 1px;
  width: 30%;
  height: 100%;
  float: right;
  list-style-type: none;
}

/* line 58, /home/ubuntu/workspace/app/assets/stylesheets/recipes.scss */
.sangria_gallery {
  text-align: center;
}

/* line 63, /home/ubuntu/workspace/app/assets/stylesheets/recipes.scss */
.new_recipe input {
  margin: 5px;
  padding: 5px;
}

/* line 69, /home/ubuntu/workspace/app/assets/stylesheets/recipes.scss */
.body_wrapper {
  border-style: solid;
  border-width: 1px;
  width: 100%;
  display: flex;
  justify-content: center;
}
/* line 76, /home/ubuntu/workspace/app/assets/stylesheets/recipes.scss */
.body_wrapper .body_sections {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  height: 450px;
  padding: 0px;
  margin: 0px;
}
/* line 84, /home/ubuntu/workspace/app/assets/stylesheets/recipes.scss */
.body_wrapper .body_sections .body_left_column {
  border-style: solid;
  border-width: 1px;
  width: 40%;
  height: 400px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 95, /home/ubuntu/workspace/app/assets/stylesheets/recipes.scss */
.body_wrapper .body_sections .body_bottom_row {
  border-style: solid;
  border-width: 1px;
  width: 58%;
  height: 200px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 105, /home/ubuntu/workspace/app/assets/stylesheets/recipes.scss */
.body_wrapper .body_sections .body_top_left {
  border-style: solid;
  border-width: 1px;
  width: 29%;
  height: 200px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 115, /home/ubuntu/workspace/app/assets/stylesheets/recipes.scss */
.body_wrapper .body_sections .body_top_right {
  border-style: solid;
  border-width: 1px;
  width: 29%;
  height: 200px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 127, /home/ubuntu/workspace/app/assets/stylesheets/recipes.scss */
.about_bg_wrapper {
  background: url(about_sangria.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 475px;
  width: 100%;
  text-align: center;
  font-family: cursive;
}

/* line 138, /home/ubuntu/workspace/app/assets/stylesheets/recipes.scss */
.about_wrapper {
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  width: 100%;
  height: auto;
  display: inline-block;
}

/* line 145, /home/ubuntu/workspace/app/assets/stylesheets/recipes.scss */
.about_paragraphs {
  display: inline-block;
  width: 60%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 19, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
html,
body {
  height: 100%;
}

/* line 25, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
#wrapper {
  min-height: 100%;
  position: relative;
}

/* line 29, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
#header {
  background: #ededed;
  padding: 10px;
}

/* line 34, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
#content {
  margin: 40px 5%;
  padding-bottom: 175px;
  /* Height of the footer element */
}

/* line 39, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
#footer {
  background: #ffab62;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 47, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
.notice {
  color: green;
}

/* line 50, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
.alert {
  color: red;
}

/* line 54, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
body {
  padding: 0px;
  margin: 0px;
  background-color: #efeff5;
  font-family: 'Source Sans Pro', sans-serif;
}
