<div class="recipe_list_wrapper">

<h1>Recipe List</h1>

    <% @recipes.each do |recipe| %>
        <ul>
            <li><%= recipe.name %></li>
            <li><%= recipe.author %></li>
            <li><%= image_tag(recipe.recipe_image, width: "300") %></li>
            <li><%#= image_tag recipe.image_url(:thumb) if recipe.image? %></li>
        </ul>
    <% end %>
    
</div>