<div class='follow_container'>
  <div class='follow_contents'>
    <% provide(:title, @title) %>
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <div class="follow_page_user_container">
        <ul class="">
          <%= render @users %>
        </ul>
      </div>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
