//* Devise Login CSS

.contact_wrapper{
  background: url(about_sangria.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 30% 20%;
  font-size: 1.3em;
  font-family: 'Alegreya Sans SC', sans-serif;
  width: 100%;
  height: auto;
  padding: 20px;
  margin: 0 auto;
}

.contact_form{
  min-width:300px;
  max-width:400px;
  margin:auto;
  padding:20px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 6px 3px #888888;
  .btn-default a, .btn-default{
    color:black;
    margin: 5px 0;
  }
}

.contact_title{
  font-size: 2em;
}

#addFields {
  cursor: pointer;
}
