//* Devise Login CSS

.devise_login_wrapper, .devise_signup_wrapper{
  background: url(about_sangria.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
  padding:0;
  margin:0;
}

.devise_login_form, .devise_signup_form{
  display: inline-block;
  margin: 5% 30%;
  width: 30%;
  height:auto;
  border: 2px solid black;
  padding: 3%;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  
  input, textarea{
  padding: 2%;
  margin: 3% auto;
  border-radius: 5px;
  }
  
  input[type=submit]{
    background-color:rgba(225, 225, 225, 0.8);
    padding: 4px 15px 3px 15px;
    margin: 10px 0 0 0;
  }
  button{
    background-color: rgba(225, 225, 225, 0.8);
    border-radius: 5px;
    padding: 3px 6px 3px 6px;
    margin: 3px auto;
  }
  a{
    text-decoration:none;
    color:black;
  }
}
label{
  float:left;
  min-width: 100px;
}
.devise_login_title, .devise_signup_title{
  font-size: 2em;
}
.devise_login_fields, .devise_signup_fields{

}
