//* Devise Login CSS

.devise_login_wrapper, .devise_signup_wrapper, .devise_change_password_wrapper .devise_forgot_password_wrapper, .devise_edit_wrapper, .devise_unlock_wrapper{
  background: url(about_sangria.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 30% 20%;
  font-size: 1.3em;
  font-family: 'Alegreya Sans SC', sans-serif;
  width: 100%;
  height: auto;
  padding: 20px;
  margin: 0 auto;
}

.devise_login_form, .devise_signup_form, .devise_forgot_password_form, .devise_change_password_form, .devise_edit_form ,.devise_unlock_form{
  min-width:300px;
  max-width:400px;
  margin:auto;
  padding:20px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 6px 3px #888888;
  .btn-default a, .btn-default{
    color:black;
    margin: 5px 0;
  }
}

.devise_signup_title, .devise_login_title, .devise_forgot_title, .devise_edit_title, .devise_unlock_title, .devise_change_password_title{
  font-size: 2em;
}
@media screen and (max-width: 550px) {
  .devise_login_form, .devise_signup_form{
  }
}
