.nav-tabs{
  width: 90%;
  text-align: center;
}
.feed_container ul{
  margin: 0 auto;
}
.feed_container {
  margin: 0 auto;
  max-width: 540px;
}
.partials_list {
  margin: 0 auto;
  background-color: white;
}
.partials_list > div {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}
.hidden_partial {
  display: none;
}
.feed_time{
  font-size: .65em;
}
.comment_owner{
  background-color: lightblue;
}
