.footer_wrapper {
	background: #e4e4e4;
	width:100%;
	height:auto;
	position:absolute;
	display: flex;
  justify-content:center;
  align-items:center;
}
.footer_content{
	width: 20%;
	li{
		margin:5px;
		padding:5px;
		float:left;
		list-style:none;
		width:100%;
	}
}