.header {
	background:#e4e4e4;
	padding:10px;
	overflow:auto;
	min-width:320px;
	display: flex;
  justify-content: center;
  align-items: center;
}

.logo_image {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_menu {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 795px) {
  .nav_menu {
    margin-left: 0;
    display: inline-block;
    width:100%
  }
}
li{
  display: inline;
  a{
    text-decoration: none;
  }
}
.nav_about_image, .nav_recipe_image, .nav_login_image, .nav_logout_image, .nav_signin_image{
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  margin:0;
  padding:0;
  
  :hover img {
	opacity: .5;
  }
  li{
  margin:0;
  padding:0;
  }
}