.header {
	background:#e4e4e4;
  overflow:hidden;
}

.logo_image {
  display: block;
  text-align: center;
  margin: 0 auto 0 auto;
}
@media screen and (max-width: 600px) {
    .nav_wrapper{
    padding: 0;
    margin: 0;
  }

  .logo_image img{
    width: 400px;
    height: auto;
  }
}
.nav_menu {
  text-align: center;
}

@media screen and (max-width: 850px) {
  .nav_menu {
    margin-left: 0;
    display: inline-block;
    width: 100%;
  }
}
li{
  display: inline;
  a{
    text-decoration: none;
  }
}
.nav_menu{
	font-size: 1.2em;
	font-family: 'Alegreya Sans SC', sans-serif;
}
.nav_menu li a{
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
  font-size: 2.5em;
  letter-spacing: 3px;
  padding: 0 20px;
  text-decoration:none;
	color:black;
	opacity: 1;
}
.nav_menu li :hover{
	opacity: .5;
}
