// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Recipe Form
.bg_wrapper{
  width:100%;
  font-family: Arial;
}
.welcome_wrapper{
  margin:auto;
  padding:auto;
  margin-bottom: 30px;
  margin-top: 30px;
}
.welcome_title{
  font-size:3em;
  font-family: cursive;
}
.welcome_content{
  width: 90%;
  max-width: 800px;
  text-align: center;
  background-color: white;
  box-shadow: 2px 6px 3px #888888;
  padding-bottom: 20px;
  padding-top: 20px;
  cursor:default;
  margin:auto;
  img{
    width: 45%;
    height: auto;
    max-width: 300px;
  }
}
.welcome_text{
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
@media screen and (max-width: 600px) {
  .welcome_text {
    min-width: 290px;
    padding:auto;
    margin: 0 auto;
  }
  .welcome_content img {
    min-width: 300px
  }
}
.create_recipe_wrapper{
  width: 90%;
  font-size: 3em;
  text-align: center;
  padding: auto;
  margin: 0 auto;
  font-family: cursive;
}

.create_recipe{
  width: 100%;
  a{
    width: 100%;
    max-width: 800px;
    min-width: 250px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    display: inline-block;
    background-color: white;
    box-shadow: 2px 6px 3px #888888;
    margin:10px 0 30px 0;
    padding:20px 0 20px 0;
  }
}
.top_full_wrapper{
  padding: 0;
  margin: 0;
  position: relative;
  display: block;
  text-align: center;
}

.featured_recipes{
  display: inline-block;
  width: 90%;
  height: 250px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  max-width: 800px;
  margin-bottom: 30px;
  a{
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  img {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
    padding-top: 20px;
  }
}
.featured_recipe_left{
  width: 30%;
  height: 100%;
  float: left;
  list-style-type: none;
  background-color: #fff2f2;
  box-shadow: 2px 6px 3px #888888;
  border-radius: 10px;
}
.featured_recipe_middle{
  width: 30%;
  height: 100%;
  display: inline-block;
  background-color: white;
  box-shadow: 2px 6px 3px #888888;
  border-radius: 10px;
}
.featured_recipe_right {
  width: 30%;
  height: 100%;
  float: right;
  list-style-type: none;
  background-color: #f0f5ff;
  box-shadow: 2px 6px 3px #888888;
  border-radius: 10px;
}

// media queries for drink categories
@media screen and (max-width: 700px) {
  .featured_recipe_left {
    min-width: 250px;
    display: block;
    float: none;
    margin: 30px auto;
    padding: auto;
    width: 100%;
    
  }

  .featured_recipe_middle {
    min-width: 250px;
    display: block;
    margin: 30px auto;
    padding: auto;
    width: 100%;
  }

  .featured_recipe_right {
    min-width: 250px;
    display: block;
    float: none;
    margin: 30px auto;
    padding: auto;
    width: 100%;
  }
  .top_bars{
    margin-top: 60px;
  }
}

// Add hover effect to home page drinks
.featured_recipe_left:hover a, .featured_recipe_middle:hover a, .featured_recipe_right:hover a{
  -webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.featured_recipe_left:hover img, .featured_recipe_middle:hover img, .featured_recipe_right:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.bottom_full_wrapper{
  padding: auto;
  margin: 0 auto;
  position: relative;
  display: block;
}
.bottom_content{
  width:90%;
  margin: 0 auto;
  padding:auto;
  max-width: 800px;
  display: block;
}
.top_bars{
  width: 100%;
  background-color: white;
  box-shadow: 2px 6px 3px #888888;
  text-align: center;
  margin-bottom:30px;
  padding: 30px 0 30px 0;
}
.top_bars li{
  display: inline-block;
  box-shadow: 2px 6px 3px #888888;
  border-radius: 10px;
  background-color: rgb(248,248,248);
}
.yelp_title{
  font-size:1.5em;
  cursor:default;
}
.yelp_businesses{
  margin: 0;
  padding: 0;
  a{
    color: inherit; 
  }
  li{
    padding: 15px 10px 15px 10px;
    margin: 15px;
    font-size: .8em;
    min-width: 200px;
    margin-bottom: 8px;
  }
}
.businesses_container{
  width: 50px;
  height: 50px;
  /*Important:*/
  position: relative;
}

/*Important:*/
.business_container_link{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.recipe_roulette {
  float:left;
  width: 35%;
  text-align: center;
  ul{
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: white;
    box-shadow: 2px 6px 3px #888888;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    img {
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  :hover img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      }
}
.youtube_video {
  float:right;
  width: 60%;
  height: auto;
  text-align: center;
  background-color: white;
  box-shadow: 2px 6px 3px #888888;
  border-radius: 10px;
  padding: 15px;
  margin-bottom:50px;
  min-width: 400px;
}

// media query for roulette and youtube
@media screen and (max-width: 740px) {
  .recipe_roulette {
    float: none;
    margin: 0 auto;
    padding: auto;
    padding-bottom: 30px;
    min-width: 250px;
    width: 100%;
    }
  
  .youtube_video {
    float: none;
    margin: 0 auto;
    padding: 30px 0;
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 475px) {
    .youtube_video {
      min-width: 430px
  }
}