.recipe_show_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.recipe_show_content {
  max-width: 800px;
  width: 90%;
}
.recipe_show_top_content{
  margin-top: 30px;
}
.recipe_show_title_name{
  font-size: 2.5em;
  text-align: center;
}
.recipe_show_author_date{
  text-align: center;
}
.recipe_show_image_wrapper{
  width: 39%;
  padding: 5%;
  display: inline-block;
  text-align: center;
  background-color: white;
  box-shadow: 2px 6px 3px #888888;
  border-radius: 10px;
  img{
  max-width: 325px;
  }
}
.recipe_show_recipe_info {
  width: 37.1%;
  padding: 5%;
  margin-left: 2.7%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  background-color: white;
  box-shadow: 2px 6px 3px #888888;
  border-radius: 10px;
  ul{
  margin: 20px 0;
  padding: 0;
  }
}
.recipe_show_bottom_content {
  width:90%;
  margin-top: 30px;
  padding: 5%;
  background-color: white;
  box-shadow: 2px 6px 3px #888888;
  border-radius: 10px;
  margin-bottom: 50px;
}
.recipe_show_title{
  font-size: 1.5em;
}
