.recipe_show_wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
  cursor: default;
}
.bottom_container {
  clear:left;
}
.recipe_rating {
  text-align: center;
   margin: 10px;
}
.recipe_show_content{
  width: 90%;
  max-width: 800px;
  background-color: white;
  box-shadow: 2px 6px 3px #888888;
  border-radius: 10px;
  padding: 40px;
  margin: 20px auto;
}
.recipe_show_title_name {
  font-size: 2.5em;
  text-align: center;
  cursor: default;
}
.recipe_show_author_date {
  text-align: center;
  cursor: default;
}
.recipe_show_image_wrapper {
  float: left;
  padding: 20px 10px;
  display: inline-block;
  text-align: center;
}
.recipe_show_image_wrapper img {
  max-width: 300px;
  max-height: 300px;
}

.recipe_comments_container{
  padding: 15px;
}
.comment_container{
  padding: 5px;
  margin: 5px;
}
.comment_form_container{
  margin-bottom: 20px;
}

#img01{
  max-width: 95%;
  max-height: 95%;
}
.recipe_show_recipe_info ul {
  cursor: default;
  margin: 20px 0;
  padding: 0;
}
.ingredient_container ul{
  margin: 10px 0;
}
.ingred_title{
  font-weight: bold;
}
.recipe_show_title, .comment_title{
  font-size: 1.5em;
}
.align_left{
  float: left;
}
.align_right{
  float:right
}
.clear{
  clear: both
}
.hide_add_ingredients, .hide_add_comments {
  display: none;
}

.recipe_comments{
  width: 250px
}

.recipe_management{
  text-align: center;
}
