.recipe_index_wrapper {
  width: 100%;
  height: auto;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  overflow:hidden;
}

.recipe_index_recipe_list{
  width: 100%;
  height: auto;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  ul{
    overflow: hidden;
    margin: 10px auto;
    width: 30%;
    list-style: none;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 6px 3px #888888;
    border-radius: 10px;
  }
  li{
    display: block;
  }
  a{
    text-decoration: none;
    color: #333333;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
	  transition: .3s ease-in-out;
  }
	:hover .index_name, .index_author{
  	opacity: .5;
	}
  img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-width: 100%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
}


@media screen and (max-width: 600px) {
  .recipe_index_recipe_list{
    display: block;
    ul{
      width: 90%;
    }
    img{
      width: auto;
      max-width: 100%;
      height: auto;
      max-width: 100%;
    }
  }
}
.recipe_index_title{
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 6px 3px #888888;
  display: block;
  font-size: 3.2em;
  letter-spacing: 4px;
  text-align: center;
  cursor: default;
}

@media screen and (max-width: 425px) {
  .recipe_index_title{
    font-size: 2.5em;
  }
}
.index_name{
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}
.index_author{
  font-size: 1.2em;
  text-align: center;
}

.paginate_wrapper{
  width: 100%;
  list-style-type: none;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-align: center;
  //bootstrap adds margin
  .pagination {
    margin: 5px 0 !important;
  }
}
.paginate_wrapper a {
  text-decoration: none;
  color: #333333;
  padding: 0 10px;
}
.pagination li :hover {
  opacity: .5;
}
.menu_container {
  width: 90%;
  margin: 0 auto;
  font-size: 1.2em;
}
.filter_sort_menu, .search_menu {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin: 0 10px;
  width: 40%;
  padding: 15px;
  background-color: white;
  box-shadow: 2px 6px 3px #888888;
  border-radius: 10px;
}
.search_menu *, .filter_sort_menu *{
  margin: 10px 0;
}
