.recipe_index_title{
  display:block;
  font-size: 3em;
  text-align: center;
}
.recipe_index_wrapper{
  width: 100%;
  height: auto;
  font-family:cursive;
  min-height: 700px;
}
.recipe_index_content{
  width: 100%;
  height: auto;
  display: flex;
  align-items:center;
  flex-wrap:wrap;
  ul{
    width:25%;
    list-style: none;
    padding:10px;
    margin:10px auto;
    background-color: rgba(300, 300, 300, 1);
    border: 0px solid;
    border-radius: 25px 0px;
  }
  li{
    display:flex;
    justify-content:center;
    align-items:center;
  }
  img{
    max-height: 400px;
    width:100%;
  }
}
.index_name{
  font-size:1.5em;
  font-weight: bold;
  text-align: center;
}
.index_author{
  font-size:.7em;
  text-align: center;
}

.pagination{
  list-style-type: none;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  ul{
    list-style-type: none;
    width:90%;
    height:auto;
    display: flex;
    justify-content:center;
    align-items:center;
  }
  a{
  text-decoration: none;
  color: #333333;
  padding: 0 10px;
  }
  li :hover{
  opacity: .5;
}
}