.user_container {
  font-family: 'Alegreya Sans SC', sans-serif;
  cursor: default;
  width: 90%;
  max-width: 800px;
  background-color: white;
  box-shadow: 2px 6px 3px #888888;
  border-radius: 10px;
  margin: 0 auto;
  padding: 30px;
}
.user_contents{
  text-align: center
}
.user_page_recipe_thumb {
  margin: 10px;
  margin: .5vw;
  width: 150px;
  text-align: center;
}
.user_page_recipe_thumb img {
  width: 100%;
  height: auto;
}
.user_page_recipe_container {
  padding: .5vw;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}
.no_recipe_message{
  font-size: 1.2em;
  margin: 0 auto;
}
