<h3 class= "row" id="header">Users</h3>
<div class="user_feed_list" >
  <div class="col-md-12">
    <% @users.each do |user| %>
    <div class="activity well">
      <%= image_tag user.avatar, width:"50"%>
      <%= user.user_name %>
      <span> Recipes Created: <%= user.recipes.length %></span>
      <br>
    </div>
    <% end %>
  </div>
</div>
