<ul class="nav nav-tabs">
  <li class="active"><a href="javascript:void(0)">Follower's Actvities</a></li>
  <li><a href="javascript:void(0)">Browse All Activities</a></li>
  <li><a href="javascript:void(0)">Browse Public Users</a></li>
</ul>

<div class='partials_list'>
  <div class="following_partial"><%= render 'activities/browse_by_following' %></div>
  <div class="hidden_partial all_users_partial"><%= render 'activities/browse_by_user' %></div>
  <div class="hidden_partial all_activities_partial"><%= render 'activities/browse_by_all_activity' %></div>
</div>

<script>
  $(".nav a").on("click", function(){

    $(".partials_list > div").removeClass("hidden_partial").addClass("hidden_partial");

    $(".nav").find(".active").removeClass("active");
    $(this).parent().addClass("active");

    var html_text = $(this).parent().text()

    if ( html_text == "Follower's Actvities" ) {
      $(".following_partial").removeClass("hidden_partial");
    } else if (html_text == "Browse All Activities") {
      $(".all_activities_partial").removeClass("hidden_partial");
    } else {
      $(".all_users_partial").removeClass("hidden_partial");
    }

  });
</script>
