<div class="footer_wrapper">
    <div class="footer_content">
        <ul>
            <li>Address</li>
            <li>Contact Info</li>
            <li>Copyright</li>
        </ul>
    </div>
</div>