<div class="footer_wrapper">
    <div class="footer_content">
      <div class="copyright_wrapper">
          <div class="copyright">
            C<span style="font-size:.8em;">OPYRIGHT</span> &copy;<span id="year"></span> S<span style="font-size:.8em;">ANGRIA</span>NYC
          </div>
      </div>
    </div>
    <script>
      var d = new Date()
      document.getElementById("year").innerHTML = d.getFullYear();
    </script>
</div>
