<div class="footer_wrapper">
    <div class="footer_content">
        <ul>
            <li><%= image_tag 'foot_social_image.png', size: "125x25" %></li>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                </ul>
            <li><%= image_tag 'foot_contact_image.png', size: "125x25" %></li>
            <li><%= image_tag 'foot_copyright_image.png', size: "125x25" %></li>
        </ul>
    </div>
</div>